   header {
       background-image: url(grama.jpg);
       background-size:auto;
       color: #FFFFFF;
       font-family: cursive;
       font-weight: bold;
       text-align: center;
       text-shadow: 2px 2px 4px rgb(239, 252, 55);
       max-width: 800px;
       margin: 0 auto;
       padding: 16px;
       border-width: 15px;
       border-style: outset;
       border-color: #ff3700
   }

   main {
       background-color: #FFFFFF;
       color: #182963;

   }

   article {
       display: flex;
       border: 2px solid #ff3700;
       gap: 20px;
   }

   img {
       width: 362px;
       height: 271px;
       padding: 10px;
       margin: 30px;
   }

   .artigo-autor {
       font-weight: bold;
   }

   div {
       margin: 30px;
       margin-left: 10px;
       margin-top:0px;
       padding: 20px;
   }